@import "~react-image-gallery/styles/css/image-gallery.css";

#carousel-div {
    width: 500px;
    height: auto;
    margin-right: 1%;
}

.carousel-bttn {
    background-color: #f4f1de;
    transition: background-color 0.2s;
    font-size: 15px;
}

.carousel-bttn:hover {
    background-color: #f2cc8f;
}

/* #camera-specs {

} */

#camera-page {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f1de;
    /* height: 800px; */

}

#back-link-div {
    width: 100%;
    padding-left: 25%;
    margin-bottom: 2%;
}

#back-link-div:hover > * {
    color: #608573;
}

#back-link {
    font-size: 18px;
    background-color: #f4f1de;
}

#back-link:hover {
    color: #608573;
    text-decoration: underline;
}

#camera-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#camera-specs {
    width: 500px;
    height: auto;
    margin-left: 3%;
}

#camera-title {
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #858585;
    margin-bottom: 20px;
}

#other-specs {
    margin: 20px 0;
}

#price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.inventory {
    margin-bottom: 5px;
}

.add-cart-edit-post-btn {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #81b29a;
    transition: background-color 0.2s;
}

.add-cart-edit-post-btn:hover {
    background-color: #f2cc8f;
}

#reviews-section {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    min-width: 550px;
}

#reviews-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
    border-bottom: 1px solid black;

}

#added-cart-p {
    margin-top: 30px;
    color:#348a61;
    font-weight: bold;
    font-size: 18px;
}
