.social-logo {
    max-width: 100px;
    height: auto;
}

#github-logo {
    max-width: 120px;
    height: auto;
}

#linkedin-logo {
    max-width: 50px;
    height: auto;
}

#about-p {
    color: #011627;
    max-width: 400px;
    margin: 0 0 0 4%;
    text-align: left;
}

#about-h1 {
    color: #011627;
}

#dev-pic {
    width: 200px;
    border-radius: 5px;
}

#img-bio-div {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 4%;
}

#about-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

#social-links > * {
    margin: 0 1% 0 1%;
}

#about-h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
    margin: 5% 0 1.5% 0;
}

.user-button.about-page {
    margin: 2% 0 5% 2%;
}

#about-link {
    display: flex;
    text-decoration: none;

}
