#shopping-cart-page-body {
    margin-bottom: 12%;
}

#cart-item-img {
    width: 100px;
}

#cart-item {
    display:flex;
    border: 1px solid black;
    border-radius: 4px;
    width: 500px;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 1px #00000054;
}

#cart {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-title {
    margin-bottom: 50px;

}

#remove-btn-img-div {
    display: flex;
}

.cart-btn {
    padding: 0 10px 0 0;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
}

#total-div {
    width: 500px;
    display: flex;
    justify-content: end;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 50px;
}

#total {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px double black;
}

.checkout {
    margin-top: 40px;
    width: 200px;
}

#cart-empty-p {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

#empty-cart-img {
    margin-top: 2.5%;
    width: 500px;

}

#empty-cart-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#thank-you-p {
    text-align: center;
    margin-top: 10%;
}

#thank-you-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

#dog-camera {
    margin-top: 4%;
    width: 450px;

}

#thank-you-p {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
