#cart-item-img {
    width: 100px;
}

#cart-item {
    display:flex;
    border: 1px solid black;
    border-radius: 4px;
    width: 500px;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    margin-bottom: 20px;
}

#cart {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-title {
    margin-bottom: 50px;

}

#remove-btn-img-div {
    display: flex;
}

.cart-btn {
    padding: 0 10px 0 0;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
}

#total-div {
    width: 500px;
    display: flex;
    justify-content: end;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 50px;
}

#total {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px double black;
}

.checkout {
    margin-top: 40px;
    width: 200px;
}
