.cam-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

#cam-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 10px 0 10px;
}

.cam-item-img-div {
    z-index: 2;
    position: absolute;
    width: 300px;
    height: 200px;
    transition: display 0.2s;
    /* background-color: rgb(180, 180, 180); */
}

.cam-item-img-div:hover {
    display: none;
}

.cam-item-img-div-2 {
    z-index: 0;
    width: 300px;
    height: 200px;
    /* background-color: rgb(180, 180, 180); */
}


.cam-item-amount {
    font-weight: bold;
}

#cam-item {
    padding-bottom: 50px;
}

#cam-item-details > p {
    text-decoration: none;
}

#cam-item-name {
    max-width: 180px;
    word-break: break-all;
}
